<div class="usa-grid" id="staff-member-carousel">

  {% for member in site.staff_bios %}

  <div class="staffer">
    <img src="{{ site.baseurl }}/img/staff/{{ member.photo_filename }}" alt="Portrait of {{ member.name }}" />

    <h3>{{ member.name }}</h3>

    {% if member.discipline != false %}
      <h4>{{ member.discipline }}</h4>
    {% endif %}

    {% if member.previous != false %}
      <h5>Previously: <span class="company">{{ member.previous }}</span></h5>
    {% endif %}
    <p>
      {{ member.bio }}
    </p>
    
  </div>

  {% endfor %}

</div>
